<!doctype html>
<html>
<head>
<meta charset='UTF-8'><meta name='viewport' content='width=device-width initial-scale=1'>
<title>ack</title>
</head>
<body><h1 id='acknowledgements'>Acknowledgements</h1>
<p>This website was created by Kailaash (kai), Shevonne (owl) and Ying Ying (y<sup>2</sup>) for their <strong>PC5132 module project.</strong> It is targeted at students with a <strong>rudimentary understanding of nuclear physics</strong> (???) and aims to shed light on exactly what the website title suggests.</p>
<p>Background image reference: <strong>NASA &#39;picture of the day&#39;</strong></p>
<h2 id='kai'>kai</h2>
<p>Wrote the <strong>stellar evolution</strong> section, and helped with <strong>quiz and video.</strong></p>
<h3 id='section-references-1'>Section references:</h3>
<h2 id='owl'>owl</h2>
<p>Wrote the <strong>preamble</strong> and <strong>stellar fusion reactions</strong> section, and helped with <strong>web development.</strong></p>
<h3 id='section-references-2'>Section references:</h3>
<p>just a lot of wikidiving, tbh.</p>
<p><a href='https://en.wikipedia.org/wiki/Stellar_evolution' target='_blank' class='url'>https://en.wikipedia.org/wiki/Stellar_evolution</a></p>
<p><a href='https://en.wikipedia.org/wiki/Star_formation' target='_blank' class='url'>https://en.wikipedia.org/wiki/Star_formation</a></p>
<p><a href='https://en.wikipedia.org/wiki/Virial_theorem' target='_blank' class='url'>https://en.wikipedia.org/wiki/Virial_theorem</a></p>
<p><a href='https://en.wikipedia.org/wiki/Open_cluster' target='_blank' class='url'>https://en.wikipedia.org/wiki/Open_cluster</a></p>
<p><a href='https://en.wikipedia.org/wiki/Deuterium_fusion' target='_blank' class='url'>https://en.wikipedia.org/wiki/Deuterium_fusion</a></p>
<p><a href='https://en.wikipedia.org/wiki/Proton%E2%80%93proton_chain' target='_blank' class='url'>https://en.wikipedia.org/wiki/Proton%E2%80%93proton_chain</a></p>
<p><a href='https://en.wikipedia.org/wiki/Hertzsprung%E2%80%93Russell_diagram' target='_blank' class='url'>https://en.wikipedia.org/wiki/Hertzsprung%E2%80%93Russell_diagram</a></p>
<p><a href='https://en.wikipedia.org/wiki/Nucleosynthesis' target='_blank' class='url'>https://en.wikipedia.org/wiki/Nucleosynthesis</a></p>
<p><a href='https://aip.scitation.org/doi/pdf/10.1063/1.4909567' target='_blank' class='url'>https://aip.scitation.org/doi/pdf/10.1063/1.4909567</a></p>
<p><a href='https://www.britannica.com/science/chemical-element/Processes-producing-heavier-elements' target='_blank' class='url'>https://www.britannica.com/science/chemical-element/Processes-producing-heavier-elements</a></p>
<p><a href='https://en.wikipedia.org/wiki/Superheavy_element' target='_blank' class='url'>https://en.wikipedia.org/wiki/Superheavy_element</a></p>
<p><a href='https://en.wikipedia.org/wiki/Transuranium_element' target='_blank' class='url'>https://en.wikipedia.org/wiki/Transuranium_element</a></p>
<p><a href='https://solarscience.msfc.nasa.gov/interior.shtml' target='_blank' class='url'>https://solarscience.msfc.nasa.gov/interior.shtml</a></p>
<h2 id='y2'>y<sup>2</sup></h2>
<p>Wrote the <strong>heavy element formation</strong> section, and helped with <strong>quiz and video.</strong></p>
<h3 id='section-references-3'>Section references:</h3>
</body>
</html>