<h1 id='acknowledgements'>Acknowledgements</h1>
<p>This website was created by Kailaash (kai), Shevonne (owl) and Ying Ying (y<sup>2</sup>) for their <strong>PC5132 module project.</strong> It is targeted at secondary school students with a <strong>rudimentary understanding of nuclear physics</strong> (i.e. slightly better than me), and aims to shed some light (haha) on exactly what the website's title suggests.</p>
<p><a href="/static/sun.jpg">Background image</a> reference: <strong>NASA &#8216;picture of the day&#8217;</strong></p>
<p>Github repo for site: <a href="https://github.com/owl10124/pc5132-website">https://github.com/owl10124/pc5132-website</a>. It&#8217;s probably running on owl&#8217;s &#8216;server&#8217; or something.</p>
<h2 id='kai'>kai</h2>
<p>Wrote the <a href="#stellar-evolution">entire <strong>stellar evolution</strong> section</a> <strong>(except fusion reactions).</strong> Contributed quiz questions and prepared script/visuals for the <strong>video.</strong></p>
<div class="full normal">
<h3 id='section-references-1'>Section references:</h3>
<ul>
    <li><a href="https://www.schoolsobservatory.org/learn/astro" target='_blank' class='url'>https://www.schoolsobservatory.org/learn/astro</a></li>
    <li><a href="https://en.wikipedia.org/wiki/Stellar_evolution" target='_blank' class='url'>https://en.wikipedia.org/wiki/Stellar_evolution</a></li>
    <li><a href='https://en.wikipedia.org/wiki/Star_formation' target='_blank' class='url'>https://en.wikipedia.org/wiki/Star_formation</a></li>
    <li><a href='https://en.wikipedia.org/wiki/Virial_theorem' target='_blank' class='url'>https://en.wikipedia.org/wiki/Virial_theorem</a></li>
    <li><a href='https://en.wikipedia.org/wiki/Open_cluster' target='_blank' class='url'>https://en.wikipedia.org/wiki/Open_cluster</a></li>
</ul>
</div>
<h2 id='owl'>owl</h2>
<p>Wrote the <a href="#preamble"><strong>preamble</strong></a> and <strong><a href="#helium-4-formation">stellar fus</a><a href="#beyond-helium">ion reactions</a></strong> sections. Contributed quiz questions and cameoed in the video.</p>
<p><small>Also did all the <strong>web development,</strong> which was reasonably easy despite flowchart-related pains. (Hopefully you liked the horizontal scrolling.)<br>Flowchart reference: <a href="https://thecodeplayer.com/walkthrough/css3-family-tree">https://thecodeplayer.com/walkthrough/css3-family-tree</a></small></p>
<div class="full normal">
<h3 id='section-references-2'>Section references:</h3>
<p>A liberal amount of Wikipedia abuse.</p>
<ul>
    <li><a href='https://en.wikipedia.org/wiki/Nucleosynthesis' target='_blank' class='url'>https://en.wikipedia.org/wiki/Nucleosynthesis</a></li>
    <li><a href="https://en.wikipedia.org/wiki/Nuclear_force" target="_blank" class="url">https://en.wikipedia.org/wiki/Nuclear_force</a></li>
    <li><a href='https://en.wikipedia.org/wiki/Deuterium_fusion' target='_blank' class='url'>https://en.wikipedia.org/wiki/Deuterium_fusion</a></li>
    <li><a href='https://en.wikipedia.org/wiki/Proton%E2%80%93proton_chain' target='_blank' class='url'>https://en.wikipedia.org/wiki/Proton%E2%80%93proton_chain</a></li>
    <li><a href='https://en.wikipedia.org/wiki/CNO_cycle' target='_blank' class='url'>https://en.wikipedia.org/wiki/CNO_cycle</a></li>
    <li><a href='https://en.wikipedia.org/wiki/Triple-alpha_process' target='_blank' class='url'>https://en.wikipedia.org/wiki/Triple-alpha_process</a></li>
    <li><a href='https://en.wikipedia.org/wiki/Alpha_process' target='_blank' class='url'>https://en.wikipedia.org/wiki/Alpha_process</a></li>
    <li><a href='https://en.wikipedia.org/wiki/Hertzsprung%E2%80%93Russell_diagram' target='_blank' class='url'>https://en.wikipedia.org/wiki/Hertzsprung%E2%80%93Russell_diagram</a></li>
    <li><a href='https://aip.scitation.org/doi/pdf/10.1063/1.4909567' target='_blank' class='url'>https://aip.scitation.org/doi/pdf/10.1063/1.4909567</a></li>
    <li><a href='https://www.britannica.com/science/chemical-element/Processes-producing-heavier-elements' target='_blank' class='url'>https://www.britannica.com/science/chemical-element/Processes-producing-heavier-elements</a></li>
    <li><a href='https://en.wikipedia.org/wiki/Superheavy_element' target='_blank' class='url'>https://en.wikipedia.org/wiki/Superheavy_element</a></li>
    <li><a href='https://en.wikipedia.org/wiki/Transuranium_element' target='_blank' class='url'>https://en.wikipedia.org/wiki/Transuranium_element</a></li>
    <li><a href='https://solarscience.msfc.nasa.gov/interior.shtml' target='_blank' class='url'>https://solarscience.msfc.nasa.gov/interior.shtml</a></li>
</ul>
</div>
<h2 id='y2'>y<sup>2</sup></h2>
<p>Wrote the <a href="#heavy-element-formation"><strong>heavy element formation</strong></a> section. Contributed quiz questions and prepared script/visuals for the <strong>video.</strong></p>
<div class="full normal">
<h3 id='section-references-3'>Section references:</h3>
<ul>
    <li><a href='https://ned.ipac.caltech.edu/level5/Sept01/Meyer/Meyer5.html' target='_blank' class='url'>https://ned.ipac.caltech.edu/level5/Sept01/Meyer/Meyer5.html</a></li>
    <li><a href='https://ned.ipac.caltech.edu/level5/Sept01/Meyer/Meyer4.html' target='_blank' class='url'>https://ned.ipac.caltech.edu/level5/Sept01/Meyer/Meyer4.html</a></li>
    <li><a href='https://ned.ipac.caltech.edu/level5/Sept01/Meyer/Meyer3.html' target='_blank' class='url'>https://ned.ipac.caltech.edu/level5/Sept01/Meyer/Meyer3.html</a></li>
    <li><a href='https://www.asc.ohio-state.edu/physics/ntg/6805/slides/rprocess.pdf' target='_blank' class='url'>https://www.asc.ohio-state.edu/physics/ntg/6805/slides/rprocess.pdf</a></li>
    <li><a href='http://adsabs.harvard.edu/pdf/1996ASPC...99..231M' target='_blank' class='url'>http://adsabs.harvard.edu/pdf/1996ASPC...99..231M</a></li>
    <li><a href='https://en.m.wikipedia.org/wiki/R-process' target='_blank' class='url'>https://en.m.wikipedia.org/wiki/R-process</a></li>
    <li><a href='https://en.m.wikipedia.org/wiki/S-process' target='_blank' class='url'>https://en.m.wikipedia.org/wiki/S-process</a></li>
    <li><a href='https://en.m.wikipedia.org/wiki/P-process' target='_blank' class='url'>https://en.m.wikipedia.org/wiki/P-process</a></li>
    <li><a href='https://ntrs.nasa.gov/api/citations/19980007188/downloads/19980007188.pdf' target='_blank' class='url'>https://ntrs.nasa.gov/api/citations/19980007188/downloads/19980007188.pdf</a></li>
</ul>
</div>