<h1 id='preamble'>Preamble</h1>
<p>There are many elements in the universe<sup>[citation needed]</sup>. Here&#39;s a table of them!</p>
<div style="text-align: center;">
<img style="filter: invert(1) hue-rotate(180deg); width:512px" src="/static/periodic.png">
<p><small><em>source: Wikipedia</em></small></p>
</div>
<p>But we mostly start out with hydrogen, and a little helium. These are tiny and light elements.</p>
<p>So how do we get big elements?</p>
<p>Well, we squeeze the tiny ones together <em>really hard.</em></p>