<div id="quizdiv"></div>

<script>
const parent = document.getElementById("quizdiv");
const qns = [
    {
        "q": "Why must the <strong>triple-alpha process</strong> be considered separately from the <strong>alpha ladder</strong>?",
        "o": [
            "Beryllium-8 is highly unstable and will decompose back into alpha particles quickly",
            "Carbon-12, once formed, is a precursor to various other reactions like the CNO cycle",
            "The small size of alpha particles makes fusing three reactants kinetically favourable",
            "The triple-alpha process is endothermic, while the alpha ladder is exothermic"
        ],
        "a": 0,
        "e": "On the Z=N line of nuclei with equal numbers of <strong>protons</strong> and <strong>neutrons</strong>, most elements with <strong>even atomic numbers</strong> are relatively stable; a notable exception is beryllium-8. Though two alpha particles fuse to form beryllium-8, a <strong>third particle</strong> must fuse with it to form carbon-12, within a very short 8.19e−17 seconds; even then, the resultant carbon-12 is <strong>excited</strong> and will probably decompose anyway. There&#39;s a reason this is the <strong>slow step</strong>!</p><p>But once you have carbon-12, the hard part is done; now the other products are stable, so just add alpha particles one by one.</p><p>The other options are just random nonsense I made up on the spot, really."
    },
    {
        "q": "Would the <strong>CNO cycle</strong> dominate in <strong>lower-mass</strong> or <strong>higher-mass</strong> stars?",
        "o": [
            "Lower, because their smaller size allows interaction between atoms of different masses",
            "Lower, because their longer lifespan allows synthesis of heavier elements (like carbon)",
            "Higher, because their higher temperature is more conducive for this reaction",
            "Higher, because their increased mass is due to presence of heavier elements"
        ],
        "a": 2,
        "e": "The proton-proton chain reaction starts at temperatures around 4MK (megakelvin), making it the dominant energy source in smaller stars; conversely the CNO cycle only begins at 15MK, but becomes dominant at 17MK — larger nuclei require more energy to fuse, but the reaction generally releases more energy.</p><p>Everything else is just wrong. I don&#39;t know what to say."
    },
    {
        "q": "Which nucleosynthesis process is responsible for the formation of most of the radioactive heavy element isotopes?",
        "o": [
            "P-process",
            "S-process",
            "R-process",
            "Nuclear fusion"
        ],
        "a": 2,
        "e": "Many radioactive heavy element isotopes are neutron rich.<br>Nuclear fusion results in the formation of the lighter elements. P-process forms neutron-deficient heavy elements (which can be radioactive). Any radioactive isotopes formed via s-process have very short half-lives. Thus, most of the heavy elements formed by s-process are neutron-rich, stable isotopes. R-process produces neutron-rich heavy element isotopes which are radioactive. As the half-lives for these isotopes are relatively long, this means that they will not decay immediately and make up most of the radioactive heavy element isotopes."
    },
    {
        "q": "Which of these processes can be found occurring in a type II supernova?",
        "o": [
            "R-process",
            "R and S processes",
            "R and P processes",
            "P-process",
            "R, S and P processes"
        ],
        "a": 2,
        "e": "R-process can be found in core collapse supernova, which is a type II supernova. P-process can be found in a type II supernova as well. On the other hand, s-process is found in AGB stars."
    }
];

function htmlify(c) {
    let x="", qn=qns[c]; //tilapia data sanitisation. not my problem if they screw things
    for (r=0;r<qn.o.length;++r) {
        x+=`<label><input type="radio" id="${c}-${r}" value="${r}" name="${c}">${qn.o[r]}</label><br>`;
    }
    return `<p>${qn.q}</p>\n<div>`+x+`</div><br><button onclick="submit(${c})">Submit</button><p id="${c}-para"></p></div>`;
}

function submit(c,e) {
    let ans = document.querySelector(`input[name='${c}']:checked`).value;
    document.getElementById(`${c}-para`).innerHTML = (qns[c].a==ans ? "<strong>Correct!</strong><br><em>You&#8217;ll live to see another day. Or you might not. Why bother, when it&#8217;s all the same in the end?</em>" : `<strong>Incorrect</strong><br><em>as if you're capable of anything else, you worthless piece of human</em><br>Correct option: <strong>${qns[c].o[qns[c].a]}</strong>`)+"<br><br>"+qns[c].e;
    //horror of horrors, the '==' instead of '===' here is actually pertinent
}

for (i=0;i<qns.length;++i) {
    let t = document.createElement("div");
    t.innerHTML=htmlify(i);
    parent.appendChild(t);
}
</script>

<style>
    #quizdiv > div {
        margin-bottom: 64px;
    }
</style>