<div id="starchart">
<ul>
    <li>
        Molecular cloud
        <ul>
            <li>
                Open cluster
                <ul>
                    <li>
                        <em>Helium-4 formation</em>
                        <ul>
                            <li>
                                Brown dwarf
                            </li>
                            <li>
                                Low-mass star
                                <ul>
                                    <li>
                                        <em>Main sequence</em>
                                        <ul>
                                            <li>
                                                Red giant
                                                <ul>
                                                    <li>
                                                        Planetary nebula
                                                        <ul>
                                                            <li>
                                                                White dwarf
                                                                <ul>
                                                                    <li>Black dwarf</li>

                                                                </ul>
                                                            </li>

                                                        </ul>
                                                    </li>
                                                    <li>
                                                        Binary white dwarf
                                                        <ul>
                                                            <li>Type Ia supernova</li>
                                                            <li>Nova</li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                High-mass star
                                <ul>
                                    <li>
                                        <em>Main sequence</em>
                                        <ul>
                                            <li>
                                                Red supergiant
                                                <ul>
                                                    <li>
                                                        Type II supernova
                                                        <ul>
                                                            <li>
                                                                Supernova remnant
                                                            </li>
                                                            <li>
                                                                Black hole
                                                                <ul>
                                                                    <li>X-ray emission</li>

                                                                </ul>
                                                            </li>
                                                            <li>
                                                                Neutron star
                                                                <ul>
                                                                    <li>Pulsar</li>

                                                                </ul>
                                                            </li>

                                                        </ul>
                                                    </li>

                                                </ul>
                                            </li>

                                        </ul>
                                    </li>

                                </ul>
                            </li>

                        </ul>
                    </li>

                </ul>
            </li>

        </ul>
    </li>

</ul>
</div>