@font-face {
    font-family: "CMU Serif";
    font-weight: normal;
    font-style: italic;
    src: url("/static/fonts/cmunti.woff") format("woff");
}
@font-face {
    font-family: "CMU Serif";
    font-weight: normal;
    font-style: normal;
    src: url("/static/fonts/cmunrm.woff") format("woff");
}
@font-face {
    font-family: "CMU Serif";
    font-weight: bold;
    font-style: italic;
    src: url("/static/fonts/cmunbi.woff") format("woff");
}
@font-face {
    font-family: "CMU Serif";
    font-weight: bold;
    font-style: normal;
    src: url("/static/fonts/cmunbx.woff") format("woff");
}

html, body {
    font-family: "CMU Serif";
    text-align: justify;
    margin: 0;
}

h1 {
    font-weight: bolder;
}

#root {
    display: grid;
    grid-template-columns: 10vw auto 10vw;
    width: 100%;
}

.container {
    grid-row: 2/3;
}

.left {
    grid-column: 1/2;
}
.right {
    grid-column: 3/4;
}
.center {
    grid-column: 2/3;
    max-width: 100%;
}

.full {
    padding: 32px;
    /*border: 1px black solid;*/
    overflow-x: auto;
    max-width: 100%;
}

.full.invert {
    color: white;
    background-color: black;
}
.full.invert a {
    color: #fffc;
}
.full.invert a:hover, .invert a:focus {
    color: white;
}
.full.star {
    text-align: center;
    background: url("https://www.nasa.gov/sites/default/files/styles/full_width_feature/public/thumbnails/image/pia19821-nustar_xrt_sun.jpg");
    background-size: cover;
    background-attachment: fixed;
    box-shadow: black 0 0 32px 8px inset;
    text-shadow: black 0 0 2px;
}

.full.invert .full {
    color: black;
    background-color: white;
}
.full.star .full {
    text-align: justify;
    box-shadow: none;
    text-shadow: none;
}

.header {
    position: sticky;
    top: 0;
    /*border: 1px black solid;*/
    background-color: #fffc;
    margin: 0;
    padding: 16px;
    z-index: 4;
    grid-row: 1/2;
}

img {
    max-width: 100%;
    max-height: 50vh;
    display: block;
    margin: auto;
}

blockquote {
    font-style: italic;
    border-left: solid 0.5px;
    margin-left: 1em;
    padding-left: 1em;
}

#content {
    box-shadow: #0008 0 0 24px -8px;
    margin-bottom: 10vh;
    min-width: 0;
}

.mathjax-block {
    /*max-width: 100px;*/
    overflow: scroll;
}

@media screen and (max-width: 684px) {
    #root {
        grid-template-columns: 0 100% 0;
    }
    .full {
        padding: 16px;
    }
}